/*------------------------------------------------------------------------------------------------------------------
about：此文件是样式标准，用变量的形式来统一
author：马兆铿
date：2017-11-14
------------------------------------------------------------------------------------------------------------------*/
/*字体方案*/
@font-size-l: 0.5rem;
@font-size-m: 0.44rem;

@font-color-normal: #242424;

@color-theme: #1abc9c;
@color-active: #17D1A5;
@color-bg: #F6F7FB;
@color-border: #DDDFE8;
